#formdetails{
    justify-content: center;
    width: 60%;
    margin: auto;
    padding: 100px 150px;
}
h1{
  color: #30799B;
}
#registerfooter{
    justify-content: center;
    width: 60%;
    margin: auto;
    text-align: center;
}