@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.about-alpha{
  color: #30799B;
  max-width: 1100px;
  padding: 0 3rem;
  margin: 0 auto;
  margin-top:4rem ;
  text-align: center;
  font-family: 'New Tegomin', serif;
  justify-content: center;
}

.container-alpha {
  display: inline-flex;
  position: relative;
  width: 50%;
}

.image-alpha {
  width: 100%;
  height: auto;
}

.overlay {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container-alpha:hover .overlay {
  opacity: 0.7;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.imgg{
  display: flex;
  justify-content: center;
}

img{
  border-radius: 50%;
}



h1{
  font-size: 4rem;
  font-weight: 700;

}
h2{
  color: #11557C;
  font-size: 2rem;
  font-weight: 700;
}

p{
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
@import url(https://fonts.googleapis.com/css?family=Exo:100);





/* animations code if not edit background class


 Background data (Original source: https://subtlepatterns.com/grid-me/) */
$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-width: 50px;
$bg-height: 50px;

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
body {
   background: url($bg-url) repeat 0 0;
  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  animation-timing-function:         linear;
}