main{
  padding: 10px;
}
table{
  margin: auto;
  border-collapse:collapse;
  width: 100%;
  margin-top: 20px;

}
th,td{
  padding: 10px;
}
th{
}
td{
  background-color: pink;
}
table,tr,th,td{
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;

}